<p id="notice"><%= notice %></p>

<p>
  <b>Question text:</b>
  <%= @question.question_text %>
</p>

<p>
  <b>Edited by:</b>
  <% @question.users.each do |user| %>
    <%= user.email %>
  <% end %>
<p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
